disable=SC2043 # SC2043 checks "This loop will only ever run once for a constant value. Did you perhaps mean to loop over dir/*, $var or $(cmd)?"
disable=SC2027 # The surrounding quotes actually unquote this. Remove or escape them.
disable=SC2086 # Double quote to prevent globbing and word splitting.
