accelerate==1.3.0
attrdict
bitsandbytes==0.45.5
clint
clip @ git+https://github.com/openai/CLIP.git
clip-benchmark
datasets
deepspeed==0.16.2
diffusers==0.32.2
einops
ftfy
image-reward==1.5
Jinja2
matplotlib
omegaconf
open-clip-torch
opencv-python
peft
pre-commit
pyrallis
pytorch_lightning
sentencepiece
tensorboard
torch
torchaudio
torchvision
transformers==4.48.1
wandb
webdataset
xformers
